.grommetux-select__options {
  margin: 24px 0 24px 0px;
}

.grommetux-button--plain .grommetux-button__icon {
  padding: 6px;
}

.grommet.grommetux-drop {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}

@media screen and (min-width: 45em) {
  .grommetux-sidebar {
    animation: sidebarSlide 0.2s;
  }
}

@keyframes sidebarSlide {
  0% {
    width: 0;
  }
  100% {
    width: 336px;
  }
}

@media (min-width: 600px) {
  .snackbar {
    flex-grow: initial;
    min-width: 400px;
  }
}
.snackbar-toast {
  background-color: rgb(50, 50, 50);
  padding: 0;
  border-radius: 4px;
  margin: 8px;
  align-items: center;
}
.snackbar-body {
  color: #fff;
  display: flex;
  padding: 12px 16px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(50, 50, 50);
}

.week-tab .grommetux-tile--selected {
  background-color: rgba(221, 221, 221, 0.5);
}

.week-tab {
  margin-top: 30px;
}
.week-tab .Reading {
  border: none;
  border-left: 5px solid #ff7d28;
  position: relative;
}
.week-tab .InitialCall {
  border: none;
  border-left: 5px solid #00cceb;
  position: relative;
}
.week-tab .ReturnVisit {
  border: none;
  border-left: 5px solid #dc2878;
  position: relative;
}
.week-tab .BibleStudy {
  border: none;
  border-left: 5px solid #0a64a0;
  position: relative;
}
.week-tab .Talk {
  border: none;
  border-left: 5px solid #49516f;
  position: relative;
}

.grommetux-button--primary {
  background: #0a64a0 !important;
  border-color: #0a64a0 !important;
}
.grommetux-button--primary:hover {
  box-shadow: 0px 0px 0px 2px #0a64a0 !important;
}

.grommetux-check-box--toggle .grommetux-check-box__input:checked + .grommetux-check-box__control {
  background-color: #0a64a0 !important;
}

.grommetux-check-box--toggle .grommetux-check-box__input:checked + .grommetux-check-box__control:after {
  border-color: #0a64a0 !important;
}

.grommetux-radio-button__input:checked + .grommetux-radio-button__control {
  border-color: #0a64a0;
}
.grommetux-radio-button__input:checked + .grommetux-radio-button__control:after {
  background-color: #0a64a0;
}

.grommetux-check-box__input:checked + .grommetux-check-box__control {
  border-color: #0a64a0;
}

.grommetux-check-box__control-check {
  stroke: #0a64a0;
}

.grommet .week-tab a,
.grommet .tasks-list a,
.grommetux-menu__drop .grommetux-anchor {
  color: #0a64a0 !important;
}

a.grommetux-button {
  border-color: #0a64a0 !important;
}
a.grommetux-button:hover {
  box-shadow: 0px 0px 0px 2px #0a64a0 !important;
}

.grommetux-anchor--primary,
.grommetux-anchor--primary:hover {
  color: #0a64a0;
}

.grommetux-anchor--primary .grommetux-control-icon {
  fill: #0a64a0;
  stroke: #0a64a0;
}

.grommetux-list-item--selected {
  background: #eaf5fc;
}

.grommetux-date-time-drop__today {
  border-color: #0a64a0;
}
.grommetux-date-time-drop__today:hover {
  box-shadow: 0px 0px 0px 2px #0a64a0 !important;
}
.grommetux-date-time-drop__day--active {
  background-color: #0a64a0;
}

.grommetux-list__more {
  text-align: center;
}

.territory-view tr.strikeout {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.45);
}
.grommet-loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}
.grommet-loader {
  height: 4px;
  overflow: hidden;
  position: relative;
  background-color: rgb(167, 202, 237);
}
.grommet-loader-bar {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
  background-color: #0a64a0;
}
.grommet-loader-bar1 {
  width: auto;
  animation: keyframes-indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.grommet-loader-bar1 {
  transition: transform 0.4s linear;
}
.grommet-loader-bar2 {
  width: auto;
  animation: keyframes-indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
}
@-webkit-keyframes keyframes-indeterminate1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes keyframes-indeterminate2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.ant-empty-image svg {
  height: 100%;
  margin: auto;
}
.ant-empty-img-default-ellipse {
  fill-opacity: 0.8;
  fill: #f5f5f5;
}
.ant-empty-img-default-path-1 {
  fill: #aeb8c2;
}
.ant-empty-img-default-path-2 {
  fill: url(#linearGradient-1);
}
.ant-empty-img-default-path-3 {
  fill: #f5f5f7;
}
.ant-empty-img-default-path-4,
.ant-empty-img-default-path-5 {
  fill: #dce0e6;
}
.ant-empty-img-default-path-4,
.ant-empty-img-default-path-5 {
  fill: #dce0e6;
}
.ant-empty-img-default-g {
  fill: #fff;
}
